@import "../src/assets/styles/variables.scss";
@import "../src/assets/mixins/mixins.scss";

/* -----------------------------import Pages -------------------------------- */

@import "../src/pages/formation/Formation.scss";
@import "../src/pages/tutorialChoice/TutorialChoice.scss";
@import "../src/pages/home/Home.scss";
@import "../src/pages/levelUser/LevelUser.scss";
@import "../src/pages/login/Login.scss";
@import "../src/pages/register/Register.scss";
@import "../src/pages/parcours/Parcours.scss";

/* -----------------------------import components -------------------------------- */

@import "../src/components/navbar/NavBar.scss";
@import "../src/components/moduleChooseFormation/ModuleChooseFormation.scss";
@import "../src/components/moduleChooseTutorial/ModuleChooseTutorial.scss";
@import "../src/components/footer/Footer.scss";
@import "../src/components/menuTop/MenuTop.scss";
@import "../src/components/tutorialExplication/TutorialExplication.scss";
@import "../src/components/myReward/MyReward.scss";
@import "../src/components/sortMyReward/SortMyReward.scss";
@import "../src/components/tutorialComponent/NameTutorial.scss";
@import "../src/components/tutorialComponent/ObjectifTutorial.scss";
@import "../src/components/tutorialComponent/VideoTutorial.scss";
@import "../src/components/tutorialComponent/QuizzTutorial.scss";
@import "../src/components/selectTutorial/SelectTutorial.scss";
@import "../src/components/modal/ConfirmBack.scss";
@import "../src/components/modal/ConfirmChoiseDelete.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: $app-primary-font;
}

p,
input,
label,
textarea,
select,
button,
ul,
li {
  font-family: $app-secondary-font;
  font-weight: 600;
}

li {
  list-style: none;
}
