.logoAboutUs {
  margin-top: 1.5rem;
  height: 15rem;
}
.titleAboutUs {
  font-size: 3rem;
  color: $app-third-font-color;
}

.team {
  .photoTeam {
    height: 12rem;
    border-radius: 5px;
    width: 10rem;
    gap: 5rem;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  img {
    margin-top: 3rem;
  }

  .card {
    cursor: pointer;
    width: 10rem;

    // back of card
    .hover-container {
      width: 3rem;

      .card-back {
        display: flex;
        transform: rotateY(90deg);
        transition: transform 3s ease, all 3s ease;

        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
      }

      img.flipped {
        transform: rotateY(90deg);
        transition: transform 3s ease, all 3s ease;
        width: 10px;
      }
    }
  }
}
