.inputEvalModel {
  display: flex;
  flex-direction: column;

  .titleEvalModel {
    height: 2rem;
    font-size: 2rem;
    margin-top: 5rem;
}
    .inputEvaluation {
      height: 2rem;
      margin-top: 3rem;
  }
}
