.inputEvalCapacity {
    display: flex;
    flex-direction: column;
  
    .titleEvalCapacity {
      height: 2rem;
      font-size: 2rem;
      margin-top: 5rem;
  }
      .inputEvaluationCapacity {
        height: 2rem;
        margin-top: 3rem;
    }
  }