.container {
  background-image: url("../../../src/assets/pictures/background-pagehome.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  h2 {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    color: $app-secondary-font-color;
  }
  .container-appareils {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    .smartphone-img,
    .tablette-img,
    .ordinateur-img,
    .accessoires-img {
      width: 250px;
      transition: transform 0.3s ease;
      box-shadow: 3px 3px 3px grey;
      border-radius: 6px;
    }
    .smartphone-img:hover,
    .tablette-img:hover,
    .ordinateur-img:hover,
    .accessoires-img:hover {
      transform: scale(1.1);
    }
    .tablette-img,
    .ordinateur-img,
    .accessoires-img {
        opacity: 0.5;
    }
    h3 {
      color: $app-primary-font-color;
      font-weight: bold;
      text-align: center;
    }
  }
}
