.container {
  background-image: url("../../../src/assets/pictures/background-pagehome.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    padding-bottom: 25px;
    color: $app-secondary-font-color;
  }
  .container-appareils {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 3rem;
    width: 60%;
    justify-items: center;
    align-items: center;

    margin-top: 1rem;
    .smartphone-img,
    .tablette-img,
    .ordinateur-img,
    .accessoires-img {
      width: 205px;
      transition: transform 0.3s ease;
      box-shadow: 3px 3px 3px grey;
      border-radius: 6px;
    }
    .smartphone-img:hover,
    .tablette-img:hover,
    .ordinateur-img:hover,
    .accessoires-img:hover {
      transform: scale(1.1);
    }
    .tablette-img,
    .ordinateur-img,
    .accessoires-img {
      opacity: 0.5;
    }
    h3 {
      color: $app-primary-font-color;
      font-weight: bold;
      text-align: center;
      margin: 0 0 1rem 0;
    }
  }
}
