.page-recap-container {
  h2 {
    text-align: center;
    margin-top: 5%;
  }
}

.background-image {
  border: solid 1px red;
  width: 100%;
  height: 74vh;
  overflow: hidden;
  text-align: end;
  text-align: end;
  z-index: -1;
  img {
    width: 60%;
  }
}
