/* Website Font Size */

@import url("https://fonts.googleapis.com/css2?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

$app-primary-font: "Montserrat", sans-serif;
$app-secondary-font: "Roboto", sans-serif;

/* Website color*/
$app-primary-font-color: #04acb0;
$app-secondary-font-color: #ffab1e;
$app-supporting-color: #272350;
$app-supporting-color2: black;

/* Website Background */
$app-bg-color: white;
$app-bg-color-button: #04acb0;
$app-text-button: white;

$app-bg: #ffffff;

/* Website Button Color */

@mixin font-title-phone {
  font-family: $app-secondary-font;
  color: $app-secondary-font-color;
  font-weight: 600;
}

@mixin font-title-tablet {
  font-family: $app-secondary-font;
  color: $app-secondary-font-color;
  font-weight: 600;
}

@mixin font-title-desktop {
  font-family: $app-secondary-font;
  color: $app-secondary-font-color;
  font-weight: 600;
}

@mixin font-subheading-phone {
  font-family: $app-secondary-font;
  font-weight: normal;
  color: $app-primary-font-color;
}

@mixin font-subheading-tablet {
  font-family: $app-secondary-font;
  font-weight: normal;
  color: $app-primary-font-color;
}

@mixin font-subheading-desktop {
  font-family: $app-secondary-font;
  font-weight: normal;
  color: $app-primary-font-color;
}

@mixin font-text-phone {
  font-family: $app-secondary-font;
  font-weight: normal;
  font-size: $font-size-text-phone;
  color: $app-supporting-color2;
}

@mixin font-text-tablet-desktop {
  font-family: $app-secondary-font;
  font-weight: normal;
  font-size: $font-size-text-tablet;
}

$app-menuTop-color: #003da5;

/* Website Icons Color */

$app-icon-color: #003da5;

@mixin primary-button-phone {
  background-color: $app-bg-color-button;
  color: $app-text-button;
  border-style: none;
  border: solid 2px $app-primary-font-color;
  border-radius: 6px;
  width: 7rem;
  height: 3rem;
  font-size: $font-size-text-phone;
  font-family: $app-primary-font;

  $app-bg-icon-color: #ffcb03;

  &:hover {
    border: solid 2px $app-bg-color-button;
  }
}

@mixin primary-button-tablet {
  background-color: $app-bg-color-button;
  color: $app-text-button;
  border-style: none;
  border: solid 2px $app-primary-font-color;
  border-radius: 6px;
  width: 11rem;
  height: 4rem;
  font-size: $font-size-text-tablet;
  font-family: $app-primary-font;
  /* button border-radius */

  $app-button-border-radius: 5px;

  /* button border-color */

  &:hover {
    border: solid 2px $app-bg-color-button;
  }
}

@mixin primary-button-desktop {
  background-color: $app-bg-color-button;
  color: $app-text-button;
  border-style: none;
  border: solid 2px $app-primary-font-color;
  border-radius: 6px;
  width: 15rem;
  height: 4rem;
  font: {
    size: $font-size-text-tablet;
    family: $app-primary-font;
  }

  $app-button-padding: 10px 20px;
  $app-button-padding-phone-large: 20px 30px;

  &:hover {
    border: solid 2px $app-bg-color-button;
  }
}

@mixin secondary-button-phone {
  background-color: $app-bg-color-button;
  color: $app-primary-font-color;
  border-style: none;
  border: solid 2px $app-primary-font-color;
  border-radius: 6px;
  width: 3rem;
  height: 1.5rem;
  font-size: $font-size-text-phone;
  font-family: $app-primary-font;

  cursor: pointer;

  &:hover {
    border: solid 2px $app-bg-color-button;
  }
}

@mixin primary-secondary-tablet-desktop {
  background-color: $app-bg-color-button;
  color: $app-primary-font-color;
  border-style: none;
  border: solid 2px $app-primary-font-color;
  border-radius: 6px;
  width: 6rem;
  height: 3rem;
  font: {
    size: $font-size-text-tablet;
    family: $app-primary-font;
  }

  cursor: pointer;

  &:hover {
    background-color: $app-primary-font-color;
    color: $app-bg-color-button;
    border: solid 2px $app-bg-color-button;
  }
}
